<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志文件输出目录 -->
    <Properties>
        <Property name="logPath">/logs/tzjk-base</Property>
        <Property name="logName">tzjk-base</Property>
    </Properties>

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="[%-5p] %d %c %t - %m%n" />
        </Console>

        <!-- 按天打印日志文件 -->
        <RollingRandomAccessFile name="RollingFile" fileName="${logPath}/${logName}.log" filePattern="${logPath}/${logName}.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%-5p] %d %c %t - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingRandomAccessFile>

        <!-- error级别单独打印到其它文件中 -->
        <RollingRandomAccessFile name="ErrorRollingFile" fileName="${logPath}/${logName}-error.log" filePattern="${logPath}/${logName}-error.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%-5p] %d %c %t - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="ErrorRollingFile" />
        </Root>
        <Logger name="com.wonders" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="ErrorRollingFile" />
        </Logger>
    </Loggers>
</configuration>
